#slider{
}
#slider ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
#slider li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
#slider img {
    display: block;
    height: auto;
    width:100%;
}

@media (min-width: 1200px) {
    #slider img{
        width:100%;
    }
}